
.todo{
    width: 40%;
    min-width: 250px;
    position: relative;
    padding-bottom: 40px;
}
.todo__title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo__title span{
    display: inline-block;
    font-size: 20px;
    color:black;
    background-color: rgba(255,255,255,0.8);
    font-weight: 600;
    padding: 10px;
    text-align: center;
    width: 100px;
    border-radius: 20px;
}
.todo ul{
    padding-inline-start: 0;
    list-style-type:none;
}
.todo li{
    color:white;
    background-color:rgba(0,0,0,0.4);
    padding: 10px 15px;
    border-radius: 20px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}
#todo__add-form{
    display: flex;
    justify-content: center;
    width: 100%;
    position:absolute;
    bottom: 10px;
}
#todo__add-form input[type=text]{
    font-weight: 600;
    border:0;
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    width: 80%;
    margin-right: 10px;
}

input[type="submit"], button {
  background-color: whitesmoke;
  box-shadow:  2 2 5px rgba(0,0,0,0.5);
  opacity: 0.9;
  color:white;
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.todo button{
    border-radius: 50%;
}
.todo input[type="submit"]{
    font-size: 20px;
    margin: 3px 0;
    border-radius: 50%;
}