/* .todo-box{
    display: flex;
    justify-content: center;
} */
.todo{
    position: relative;
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    padding-bottom: 40px;
}
.todo .checked{
    color: rgba(0,0,0, 0.9);
    text-decoration: line-through;
    font-style: italic;
}
.todo ul{
    padding-inline-start: 0;
    list-style-type:none;
}
#todo__add-form{
    position:absolute;
    bottom: 10px;
}
#todo__add-form input[type=text]{
    border:0;
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    text-align: center;
    border-radius: 30px;
}
