/* @import "css/reset.css"; */
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "css/header.css";
@import "css/options.css";
@import "css/dice-game.css";
@import "css/todo.css";
@import "css/fortune-cookie.css";
@import "css/traveling-recommend.css";
@import "css/nav.css";

body{
    position: relative;
    font-family: 'Noticia Text', serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 40px;
}
img{
    /* filter: grayscale(100%) brightness(120%) contrast(0.5); */
    filter: grayscale(10%) brightness(100%) contrast(0.9);
}
body::-webkit-scrollbar{
    display: none;
}
.hidden{
    display: none;
}
main{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}